<h1>ReservationFrames#index</h1>
<p>Find me in app/views/reservation_frames/index.html.erb</p>
<%= flash[:notice] %>
<% if signed_in? %>
  <%= render 'planners/signed_in' %>
<% else %>
  <%= render 'planners/not_signed_in' %>
<% end %>
